# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built files
__pycache__
*.egg-info
*.idea
*.pytest_cache
multiverse_ws/.catkin_tools
multiverse_ws/build
multiverse_ws/devel
multiverse_ws/logs
multiverse_ws2/build
multiverse_ws2/install
multiverse_ws2/log
multiverse/bin
multiverse/lib
multiverse/build
multiverse/external
**/output
multiverse/saved
build
resources

# VSC
.vscode
.ipynb_checkpoints

# Additional workspaces
cram_ws
giskard_ws
tutorial_ws