[submodule "src/USD"]
	path = src/USD
	url = https://github.com/PixarAnimationStudios/USD.git
[submodule "multiverse_ws/src/multiverse_connectors/multiverse_mujoco_connector"]
	path = multiverse_ws/src/multiverse_connectors/multiverse_mujoco_connector
	url = https://github.com/Multiverse-Framework/Multiverse-MuJoCo-Connector.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
