# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built files
multiverse_ws/.catkin_tools
multiverse_ws/build
multiverse_ws/devel
multiverse_ws/logs
__pycache__
multiverse/bin
multiverse/lib
multiverse/build
multiverse/external/blender-git/lib

# VSC
.vscode
