<?xml version="1.0" ?>
<model>
    <name>pizza_box</name>
    <version>1.0</version>
    <sdf version="1.6">pizza_box.sdf</sdf>
    <author>
        <name>Oscar Lima</name>
        <email>olima@isr.tecnico.ulisboa.pt</email>
    </author>
    <description>ISR testbed simple chair</description>
</model>
