<?xml version="1.0" ?>
<robot name="long_saussage" version="1.0">
  <link name="long_saussage">
    <inertial>
      <origin xyz="0.0008910206379368901 0.00014126165478955954 -0.01130351610481739" rpy="-1.568530559539795 -0.01853565312922001 -0.0004973713657818735"/>
      <mass value="0.5017728805541992"/>
      <inertia ixx="0.0003000003343913704" ixy="0.0" ixz="0.0" iyy="0.00727943517267704" iyz="0.0" izz="0.007491144351661205"/>
    </inertial>
    <visual name="LongSaussage">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://long_saussage/meshes/obj/LongSaussage.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="LongSaussage_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://long_saussage/meshes/stl/LongSaussage_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LongSaussage_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://long_saussage/meshes/stl/LongSaussage_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LongSaussage_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://long_saussage/meshes/stl/LongSaussage_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="LongSaussage_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://long_saussage/meshes/stl/LongSaussage_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>