<?xml version="1.0" ?>
<robot name="world" version="1.0">
  <link name="tiago_dual"/>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    <parent link="tiago_dual"/>
    <child link="base_footprint"/>
  </joint>
  <link name="base_footprint"/>
  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0985" rpy="0.0 -0.0 0.0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  <link name="base_link">
    <collision name="base_collision">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="file://../meshes/stl/base_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="base">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="file://../meshes/obj/base.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>