<?xml version="1.0"?>

<model>
    <name>Floor</name>

    <version>1.0</version>

    <sdf version='1.3'>floor.sdf</sdf>

    <author>
        <name>Oscar Lima</name>
        <email>olima@isr.tecnico.ulisboa.pt</email>
    </author>

    <description>
        A textured floor to enhance your simulated apartment view
    </description>
</model>
