<launch>

    <arg name="mesh_workspace_path" default="$(find multiverse_parser)/examples/world_to_urdf/world" />
    
    <arg name="mesh_path" default="/opt/ros" />

    <arg name="in_world"
        default="$(arg mesh_workspace_path)/worlds/isr-testbed.world" />

    <arg name="out_urdf"
        default="$(find multiverse_parser)/examples/world_to_urdf/urdf/isr-testbed.urdf" />

    <env name="MESH_WORKSPACE_PATH" value="$(arg mesh_workspace_path)" />

    <env name="PATHTOMESHES" value="$(arg mesh_path)" />

    <node pkg="multiverse_parser" type="world_to_urdf_node.py" name="world_to_urdf" output="screen"
        args="$(arg in_world) $(arg out_urdf)" />

</launch>