<launch>

    <arg name="urdf"/>

    <arg name="headless" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf)'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group unless="$(arg headless)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

        <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find multiverse_parser)/rviz_config/rviz.rviz" required="true"/>
    </group>

    <group if="$(arg headless)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>
    
</launch>