<launch>

    <arg name="server_socket_host" default="tcp://127.0.0.1"/>

    <rosparam command="load" file="$(find multiverse_server)/config/multiverse_params.yaml"/>

    <!-- Overwrite server socket host -->
    <rosparam param="server_socket_host" ns="multiverse" subst_value="True">$(arg server_socket_host)</rosparam>

    <node pkg="multiverse_server" type="multiverse_server" name="multiverse_server" output="screen"
        args="tcp://127.0.0.1:7000" />

</launch>