<?xml version="1.0" ?>
<model>
    <name>cabinet_ikea_galant</name>
    <version>1.0</version>
    <sdf version="1.6">cabinet_ikea_galant.sdf</sdf>
    <author>
        <name>Cob</name>
        <email>http://wiki.ros.org/cob</email>
    </author>
    <description>ISR testbed bed</description>
</model>
