<launch>

  <arg name="screen" default="box_scenario" />

  <arg name="in_ABox_usda" default="$(find universim_parser)/examples/mjcf_to_usd/usd/$(arg screen)_with_physics.usda" />

  <arg name="tagged_ABox_usda" default="$(find universim_knowledge)/examples/$(arg screen)/$(arg screen)_ABox.usda" />

  <arg name="out_ABox_owl" default="$(find universim_knowledge)/examples/$(arg screen)/$(arg screen)_ABox.owl" />

  <arg name="in_TBox_owl" default="$(find universim_knowledge)/owl/$(arg screen)_TBox.owl" />

  <arg name="converted_TBox_usda" default="$(find universim_knowledge)/examples/$(arg screen)/$(arg screen)_TBox.usda" />

  <node name="TBox_to_usd" pkg="universim_knowledge" 
    type="TBox_to_usd.py" output="screen"
    args="$(arg in_TBox_owl) $(arg converted_TBox_usda)" />

  <node name="auto_sem_tag" pkg="universim_knowledge"
    type="auto_sem_tag.py" output="screen"
    args="$(arg in_ABox_usda) $(arg converted_TBox_usda) $(arg tagged_ABox_usda)"
    launch-prefix="bash -c 'sleep 2; $0 $@' " />

  <node name="usd_to_ABox" pkg="universim_knowledge"
    type="usd_to_ABox.py" output="screen"
    args="$(arg tagged_ABox_usda) $(arg in_TBox_owl) $(arg out_ABox_owl)"
    launch-prefix="bash -c 'sleep 4; $0 $@' " />

</launch>