<?xml version="1.0" ?>
<robot name="cutting_board" version="1.0">
  <link name="cutting_board"/>
  <joint name="cutting_board_metal_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="cutting_board"/>
    <child link="cutting_board_metal"/>
  </joint>
  <link name="cutting_board_metal">
    <inertial>
      <origin xyz="-0.1557769477367401 -1.598478576170237e-07 -0.00022137862106319517" rpy="-6.815818665018014e-08 -0.0014227917417883873 9.678045671535074e-07"/>
      <mass value="0.003382503753527999"/>
      <inertia ixx="2.3344916826317785e-06" ixy="0.0" ixz="0.0" iyy="8.222460746765137e-05" iyz="0.0" izz="8.449548477074131e-05"/>
    </inertial>
    <visual name="CuttingBoardMetal">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/obj/CuttingBoardMetal.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="CuttingBoardMetal_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="CuttingBoardMetal_002">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="CuttingBoardMetal_003">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="CuttingBoardMetal_004">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_004.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="CuttingBoardMetal_005">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_005.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="CuttingBoardMetal_006">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardMetal_006.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="cutting_board_woodiness_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="cutting_board"/>
    <child link="cutting_board_woodiness"/>
  </joint>
  <link name="cutting_board_woodiness">
    <inertial>
      <origin xyz="0.010726099833846092 3.602701497129601e-07 -0.0001807895750971511" rpy="8.13690576251247e-07 0.00025098666083067656 -1.293006022251575e-07"/>
      <mass value="0.6391174793243408"/>
      <inertia ixx="0.002166003454476595" ixy="0.0" ixz="0.0" iyy="0.004960523918271065" iyz="0.0" izz="0.007102298550307751"/>
    </inertial>
    <visual name="CuttingBoardWoodiness">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/obj/CuttingBoardWoodiness.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision name="CuttingBoardWoodiness_001">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://cutting_board/meshes/stl/CuttingBoardWoodiness_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>